
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Resto</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li><a class="nav-item nav-link" routerLink="add">Add Restarurant</a></li>
      <li><a class="nav-item nav-link" routerLink="list">List Restarurant</a></li>
      <li><a class="nav-item nav-link" routerLink="login">Login Restarurant</a></li>
      <li><a class="nav-item nav-link" routerLink="register">Register Restarurant</a></li>
      <li><a class="nav-item nav-link" routerLink="update">update Restarurant</a></li>
    </ul>
  </div>
</nav>
<ul>
<router-outlet></router-outlet>